@font-face {
	font-family: 'NanumBarunGothic';
	src: url("../fonts/NanumBarunGothic.eot");
	src: local("☺"), url("../fonts/NanumBarunGothic.woff") format("woff");
}

@font-face {
	font-family: 'NanumGothic';
	src: url("../fonts/NanumGothic.eot");
	src: local("☺"), url("../fonts/NanumGothic.woff") format("woff");
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "NanumBarunGothic", "Nanum Gothic" sans-serif;
}
ol, ul, a {
	list-style: none;
}
footer {
	padding: 30px;
	background-color: black;
	font-size: 20px;
}

.subpage {
	position: relative;
	padding-top: 50px;
}
.table {
	margin-bottom: 5px;
}
.btn {
	margin: 0 5px 10px 5px;
}
.a{
	color: #000000;
	text-decoration: none;
}
.reply {
	border: 1px solid #c0c0c0;
}
